:root {
  /* UI Palette */
  --bg-background: #000005;
  --bg-surface-top: #302535;
  --bg-surface: #151020;

  --btn-background-top: #445;
  --btn-highlight: #667;
  --btn-background: #302535; 

/* #302535; */

  /* Text pallete */
  --text-primary: #E2E8F0;
  --text-secondary: #aad; 
  --text-orange: #e18700;
  --text-gray: #aaa;
  --text-yellow: #f5deb3;
  --text-red: #E00000;
  --text-green: #00D000;
  --text-blue: #0080d0;
  --text-purple: #9370eb;
  --text-gold: #ffd700;
  --text-brown: #C15710; 
  --text-darkgreen: #008000;
  
  /* Typography Variables */
  --font-display: var(--font-cinzel), serif;
  --font-ui: var(--font-alegreya-sans), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-background);
  color: var(--text-primary);
  font-family: var(--font-ui);
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
