:root {
  /* UI Palette */
  --bg-background: #120F0C; 
  --bg-surface: #131a15; 
  --bg-surface-top: #1b221e; 

  --btn-background: #2C3831; 
  --btn-background-top: #3F4A42; 
  --btn-highlight: #5C685F;

  /* Text pallete */
  --text-primary: #DED6C8;
  --text-secondary: #8F9987; 
  --text-orange: #C49B4B;
  --text-gray: #828282;
  --text-yellow: #f5deb3;
  --text-red: #D94848;
  --text-green: #00D000;
  --text-blue: #0080d0;
  --text-purple: #9370eb;
  --text-gold: #ffd700;
  --text-brown: #C15710; 
  --text-darkgreen: #008000;

  --text-dark-red: #722;
  --text-dark-orange: #972;
  --text-dark-gray: #777;
  
  /* Typography Variables */
  --font-display: var(--font-cinzel), serif;
  --font-ui: var(--font-alegreya-sans), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-background);
  color: var(--text-primary);
  font-family: var(--font-ui);
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    circle at center, 
    #1F1A15 0%, 
    #17130F 50%,  
    #120F0C 100%
  );
}
