.layoutWrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: auto;
  grid-template-rows: auto 58px 1fr;
  grid-template-columns: 240px 1fr; 
  grid-template-areas:
    "topBar topBar"
    "sideMenu notificationRibbon"
    "sideMenu mainWindow";
  gap: 0;
}

.mainWindow {
  grid-area: mainWindow;
  background-color: transparent;
  overflow-y: auto;
  scroll-behavior: smooth; 
  width: 1400px;
  /* max-width: 1400px; */
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.mainWindow::-webkit-scrollbar {
  width: 8px;
}
.mainWindow::-webkit-scrollbar-track {
  background: var(--bg-background); 
}

.mainWindow::-webkit-scrollbar-thumb {
  background: var(--bg-surface-top); 
  border-radius: 4px;
}