/* Element styles */

li {
  list-style: none;
}

/* Typography classes */

.text-forged {
  font-family: var(--font-display);
  background: linear-gradient(
    to bottom,
    #FFF4D2 0%,
    #C49B4B 40%,
    #C15710 100% 
  );  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 2px 4px rgba(249, 115, 22, 0.5));
}

.text-primary {
  color: var(--text-primary)
}
  
.text-secondary {
  color: var(--text-secondary)
}

.text-flavor {
  color: var(--text-secondary);
  font-style: italic;
}

.text-orange {
  color: var(--text-orange)
}

.text-gray {
  color: var(--text-gray)
}

.text-yellow {
  color: var(--text-yellow)
}

.text-red {
  color: var(--text-red)
}

.text-green {
  color: var(--text-green)
}

.text-blue {
  color: var(--text-blue)
}

.text-purple {
  color: var(--text-purple)
}

.text-gold {
  color: var(--text-gold)
}

.text-brown {
  color: var(--text-brown)
}

.text-darkgreen {
  color: var(--text-darkgreen);
}

.text-bold {
  font-weight: 500;
}

.text-extrabold {
  font-weight: 600;
}

.text-bold {
  font-weight: 500;
}

.text-thin {
  font-weight: 400;
}

/* Margin classes */

.space-m {
  margin-bottom: 0.5rem;
}

.space-l {
  margin-bottom: 1rem;
}

.space-top-m {
  margin-top: 0.5rem;
}

.space-left-m {
  margin-left: 0.5rem;
}

/* Flex classes */

.cards-row {
  display: flex;
  gap: 1rem;
}

.buttons-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

