.elevatedCard {
  padding: 1rem 1.5rem;
  background-color: var(--bg-surface);
  background: linear-gradient(
    to bottom,
    var(--bg-surface-top) 0%,
    var(--bg-surface) 100%);
  border-radius: 8px; 
  box-shadow: 
    inset 0 1px 0 rgba(255, 255, 255, 0.05),
    0 4px 6px rgba(0, 0, 0, 0.3),
    0 10px 24px rgba(0, 0, 0, 0.4);
}