.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); 
  backdrop-filter: blur(4px); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.modalCard {
  max-width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-surface);
  background: linear-gradient(
    to bottom,
    var(--bg-surface-top) 0%,
    var(--bg-surface) 100%);
  border-radius: 8px; 
}
