.resourceItem {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  gap: 0.5rem;
  align-items: center;
  width: 9rem;
  border-radius: 0.5rem;
  box-shadow: 
    inset 0 1px 1px rgba(255, 255, 255, 0.12),
    inset 1px 0 1px rgba(255, 255, 255, 0.05), 
    0 2px 2px rgba(0, 0, 0, 0.7),
    0 2px 2px rgba(0, 0, 0, 0.9);
}

.resourceText {
  font-size: 1.5rem;
  cursor: default;
  user-select: none;
}

.icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  opacity: 0.85;
}